body {
  overflow-x: hidden;
}

section.intro {
  position: relative;
  background-image: url('/portfolio/assets/images/background.jpg');
  min-height: 100vh;
  min-width: 100%;
  background-size: cover;
  background-position: center bottom;

  .title-container {
    color: #E6E6E6;
    z-index: 99;

    .title {
      border: 1px solid #E6E6E6;
      border-radius: 2px;
      display: inline-block;
      overflow: hidden;

      .col {
        padding-left: 0;

        h1{
          margin: 0;

          .intro-span{
            display: inline-block;
            background: #E6E6E6 ;
            color: #263238;
            padding: 1rem;
          }
        }
      }
    }
  }
}

.dark-overlay {
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0,0,0,0.7);
  min-width: 100%;
  min-height: 100vh;
  z-index: 99;
}

.snow{
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.6;
  background-image:
          url('https://dl6rt3mwcjzxg.cloudfront.net/assets/snow/snow-medium-0b8a5e0732315b68e1f54185be7a1ad9.png'),
          url('https://dl6rt3mwcjzxg.cloudfront.net/assets/snow/snow-small-1ecd03b1fce08c24e064ff8c0a72c519.png'),
          url('https://dl6rt3mwcjzxg.cloudfront.net/assets/snow/snow-small-1ecd03b1fce08c24e064ff8c0a72c519.png');
  min-width: 100%;
  min-height: 100vh;
  z-index:1;
  animation: snow 20s linear infinite;
}

@keyframes snow {
  from {background-position: 0 0, 0 0, 0 0;}
  to {background-position: 500px 1000px, 200px 400px, -100px 300px;}
}

.portfolio-grid {

  .col {
    padding: 0;

    img {
      width: 100%;
      height: auto;
      filter: grayscale(100%);
      transition: 1s filter;
    }
    &:hover {
      img {
        filter: grayscale(0%);
      }
    }
  }
}

img.materialboxed.initialized.active {
  height: 180px!important;
  width: auto!important;
  filter: grayscale(0%);
  left: 300px!important;
}

@media #{$medium-and-down} {
  section.intro {
    .title-container {
      .title {
        margin-bottom: 0;
        .col {
          padding-left: 0;
          padding-right: 0;

          h1{
            margin-bottom: 1rem;

            span{
              width: 100%;
              margin-bottom: 1rem;
            }
          }
        }
      }
    }
  }

  .grid {
    column-count: 2;
    .grid-item{
    }
  }
}

@media #{$medium-and-up} {
  section.intro {
    .title-container {
      width: 84%;
    }
  }
}

@media #{$small-and-down} {
  section.intro {
    .title-container {
      .title {
        .col {
          h1{
            font-size: 3.2rem;
          }
        }
      }
      h2 {
        font-size: 2.9rem;
      }
    }
  }

  .grid {
    column-count: 1;
    .grid-item{
    }
  }
}

.into.animated.fadeIn {
  animation-delay: 0.5s;
}

.title.animated.fadeIn {
  animation-delay: 1s;
}

.coming-soon.animated.fadeInUp {
  animation-delay: 1.5s;
}

.materialbox-caption {
  display: block;
  opacity: 0.8;
  position: absolute;
  width: 100vw;
  height: 1000%;
  background: #000;
}

.modal.open {
  z-index: 2 !important;
}

.modal-overlay {
  z-index: 0 !important;
  opacity: 0 !important;
}